#background
{
background-image: url("chapel.png");
background-repeat: no-repeat;
background-attachment:fixed;
background-position:0px 0px;
}
#player
{
position:absolute;
width:65px;
height:65px;
background-image:url("jerry1.png");
}
#bullet
{
position:absolute;
width:5px;
height:5px;
background-image:url("bullet.png");
}